extends base
block titles
    h1  Blog...
block content
    p   Conforme falado no inicio, este blog foi criado a partir do momento que comecei a entrar no mundo
        do desenvolvimento, fui percebendo que muitas pessoas tinham as mesmas duvidas que eu e todo iniciante
        estaria passando por esse tipo de coisa, então comecei a escrever os posts para ficarem como um bloco de notas
        e poder assim ajudar a quem também  está no inicio, porem aos poucos o nível dos posts foi evoluindo e
        ainda está, logo pode-se encontrar posts muito básicos a um pouco mais avançados.

    p   Hoje o blog está hospedado no meu servidor próprio com a engine do wordpress o que em breve estarei migrando,
       meu objetivo é criar uma engine totalmente javascript.

    br
    p 
      a(href="http://blog.jesuejunior.com", target="_blank", title="Blog")    Você pode conferir o blog clicando aqui
