extends base
block titles
    h1  Contatos!
block content
    p   Então é isso, qualquer duvida ou sugestão para posts no blog, fique a vontade para entrar em contato.
    br
    address
        strong     Endereços
        br
        em  Email/Gtalk:
        | jesuesousa@gmail.com
        br
        em  Twitter:
        | @jesuejunior
        br
        em  LinkedIn:
        |   br.linkedin.com/in/jesuejunior/
