extends base
block titles
    h1  Bem-vindo!
block content
    p   Meu o objetivo com esse site é testar algumas tecnologias e ver funcionando na pratica,
    p   e com isso será um portal com informações sobre o que estou fazendo, projetos que estou participando.
    p   Tem o link para o meu blog pessoal o qual possui diversos posts relacionado a área de desenvolvimento, infra-estrutura e tecnologia em geral.
    p   Hoje o site é totalmente desenvolvido em JS, utilizo node.JS(server-side), express.JS(web framework) e Jade(Template engine).
