extends base
block titles
    h1  Projetos...
block content
    p   Aqui segue alguns projetos que estou criando do zero e os quais eu participo.
    p   O site ainda está em construção mas já vou começar a pegar alguns projetos que participo e vou colocando aqui. Aguardem.
