

.jfooter {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #eee;
    background-color: #000000 !important;
    height: 150px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    background: rgba(0, 0, 0, 0.98);
}

#logo{
    top:50%;
    left:50%;
    margin-left: 140px;
}

.topbar-inner, .topbar .fill {
    background-color: #3B5998;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.7) inset !important;
}

.socialbar{
    float: right;
    padding-top: 20px;
    margin-right: 274px;
    padding-bottom: 4px;
}

.socialbar a:hover {
    margin-top: -30px;
}

.twitter-icon {
    background: url("/img/icons/twitter.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}

.email-icon {
    background: url("/img/icons/email.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}

.delicious-icon {
    background: url("/img/icons/delicious.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.github-icon {
    background: url("/img/icons/github.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.google-icon {
    background: url("/img/icons/google.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.gtalk-icon {
    background: url("/img/icons/gtalk.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.linkedin-icon {
    background: url("/img/icons/linkedin.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.rss-icon {
    background: url("/img/icons/rss.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.skype-icon {
    background: url("/img/icons/skype.png") no-repeat scroll transparent;
    height: 32px;
    width: 32px;
    padding: 2px;
}