body,html {
    background:  #fafafa;
    color: #333;
    font-family: 'Asap', Arial, Helvetica, Tahoma,  sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    margin: 0; padding: 0;
}
button {
	cursor: pointer;
	width:auto;
    overflow:visible;
}
img, button {
	border: 0;
	outline: 0;
}
input { margin: 0; }

input[type="text"],
input[type="password"],
input[type="email"] {
	background:#fff;
	border: 0;
	color: #444444;
	font-weight: normal;
	width: 100%;
    padding: 2px 0;
}

ul,li {
    list-style: none !important;
    list-style-type: none;
}
h1 { margin: 0 0 25px 0; font-size: 2em; }

p{
    line-height: 200%;
    margin: -15px -36px 10px 1px;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

/* Sidebar */

#sidebar {
	background: #3f4141;
	float: left;
	width: 145px;
	margin-left: 80px;
}

#menu { margin: 20px 0 50px 0; padding: 0;  }
.menu-link {
	color: #a9a9a9;
	display: block;
	text-decoration: none;
	padding: 7px 15px;
}

.menu-link:hover { background: #474747; }
.menu-link.active,
.menu-link.active:hover { 
	color: #fff;
	background: #4c5555;
	border-right: 4px solid #51b6ba;
}

#logo {
	background: url(../img/logo.png) no-repeat center center #4c5555;
	display: block;
	height: 120px;
}

.social .social-link {
	background: #484b4b;
	margin: 0.5px;
	float: left;
	display: block;
	height: 45px;
	width: 47px;
}

.social-link.twitter {
	background: url("../img/social-icons/twitter.png") center no-repeat #1db4ec;
}

.social-link.linkedin {
	background: url("../img/social-icons/linkedin.png") center no-repeat #2484a0;
}

.social-link.googleplus {
	background: url("../img/social-icons/googleplus.png") center no-repeat #be4144;
}

.social-link.github {
	background: url("../img/social-icons/github.png") center no-repeat #5a5a5a;
}
.social-link.delicious {
	background: url("../img/social-icons/delicious.png") center no-repeat #1d7eec;
}
.social .social-link:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
}

#content {
	float: left;
	margin: 20px 0 0 30px;
	width: 600px;
}

.block {
	margin-bottom: 25px;
	background: #f9f9f9;
	padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #51B6BA;
	border-radius: 25px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
}
.welcome { height: 300px; }

.blog .block { 
	background: none;
	border-bottom: 1px solid ddd;
	margin-bottom: 20px;
}
.blog .block-content { 
	background: #f9f9f9;
	padding: 20px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
