<script type="text/template" id="icones">


<a target="_blank" href="https://twitter.com/jesuejunior">
<div class="twitter-icon" rel="twipsy" title="@jesuejunior"></div>
</a>

<a target="_blank" href="https://gihub.com/jesuejunior">
<div class="github-icon" rel="twipsy" title="jesuejunior"></div>
</a>
<a href="#contato">
<div class="email-icon" rel="twipsy" title="mailto:jesuesousa@gmail.com"></div>
</a>

<a target="_blank" href="https://delicious.com/jesuejunior">
<div class="delicious-icon" rel="twipsy" title="delicious.com/jesuejunior"></div>
</a>
<a target="_blank" href="http://linkedin.com/in/jesuejunior">
<div class="linkedin-icon" rel="twipsy" title="linkedin.com/jesuejunior"></div>
</a>
<a target="_blank" href="http://jesuejunior.com/feed">
<div class="rss-icon" rel="twipsy" title="jesuejunior.com/feed"></div>
</a>
<a target="_blank" >
<div class="skype-icon" rel="twipsy" title="jesuejunior"></div>
</a>

</script>
